@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --h2: 55px;
  --white: #ffffff;
}
h1{
  font-size: var(--h1);
}
/* ------------------toggle------------------- */

.custome_breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: #ffffff;
  content: var(--bs-breadcrumb-divider, "/");
}
img.logo_img {
  width: 150px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1440px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
button.login_btn {
  background: #6f0100;
  color: #ffffff;
  border: none;
  padding: 0px 14px;
  border-radius: 50px;
  text-transform: uppercase;
}
.navbar .logo a {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow,
.links li:hover .event-arrow,
.links li:hover .opportunity-arrow,
.links li:hover .membership-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #000000;
  transition: all 0.3s ease;
}

nav .navbar .links li a:hover {
  /* border-top: 1px solid red; */
  color: #6f0100;
}

.sub-menu {
  padding: 0px;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .event-sub-menu,
nav .navbar .links li:hover .opportunity-sub-menu,
nav .navbar .links li:hover .membership-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #ffffff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.search-box .input-box::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background: #ffffff;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #6f0100;
  width: 100px;
  transition-delay: 0s;
}
span.swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #6f0100;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
.our_sponsors span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff;
  width: 100px;
  transition-delay: 0s;
}
.our_sponsors span.swiper-pagination-bullet {
  width: 13px;
  height: 10px;
  display: inline-block;
  background: #ffffff;
  opacity: 0.2;
  margin: 0 5px;
  border-radius: 20px;
  transition: opacity 0.5s, background-color 0.5s, width 0.5s;
  transition-delay: 0.5s, 0.5s, 0s;
}
/* ----------------------------banner------------------ */
.her-banner {
  background-image: url(/images/banner\ bg.jpg);
  height: auto;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.second_banner {
  vertical-align: middle !important;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.second_banner h3.text-white {
  font-size: 58px;
}

.second_banner p.text-white {
  font-size: 20px;
}
.swper_banner h2 {
  color: #000000;
  font-size: 45px;
  font-family: "Poppins";
}
a.btn_members {
  background: #6f0100;
  color: #fff;
  text-decoration: none;
  padding: 15px 33px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  flex-shrink: 0;
  width: 364px !important;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
.swper_banner {
  background-image: url(/images/bg1.jpg);
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  gap: 0px;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-pagination {
  position: relative !important;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  padding: 20px;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
}
.news_slider .des_pra {
  padding: 28px;
}
.date_news {
  top: 34px;
  left: 9em;
  width: 21%;
  background: #6f0100;
  font-size: 34px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.date_news span {
  font-size: 12px;
  background: #fff;
  color: #000;
}

.news_slider h4 {
  font-size: 26px;
  text-align: start;
}

.news_slider .des {
  font-size: 14px;
  text-align: start;
  font-family: "Poppins";
}

.news_slider i.fa.fa-map-marker {
  color: #6f0100;
  text-align: start;
}

.news_slider span {
  text-align: start;
  display: flex;
  gap: 10px;
}
.news_slider p.locations {
  font-size: 14px;
}
.news_slider a.read_more {
  text-align: start;
  color: #6f0100;
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 23px;
  text-decoration: underline;
  gap: 10px !important;
}

/* =================about section=============== */
.about_us_istcosa {
  background-image: url(/images/about\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about_us_istcosa h2 {
  color: #fff;
  font-size: 45px;
  font-family: "Poppins";
}

.about_us_istcosa p {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 200;
}

/* =================Contribute Now section=============== */
.contribute_now {
  background-image: url(/images/Contribute\ Now\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.contribute_now h2 {
  color: #fff;
  font-size: 45px;
  font-family: "Poppins";
}

.contribute_now p {
  color: #000000;
  font-weight: 300;
}
.contribute_now h3 {
  font-size: 25px;
  color: #000000;
  font-family: sans-serif;
}
.contribute_now .contributes1,
.contributes2 {
  border-radius: 0 0 0 39px;
}

/* -------------------------celebrating------------------------- */
.celebrating {
  background-image: url(/images/Celebrating\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.celebrating h2.text-center {
  font-size: 55px;
  font-weight: 700;
  color: #6f0100;
}
.celebrating .batch {
  background: #ebe9e9;
  padding: 10px 20px;
  border-radius: 10px;
}

/* -------------------------our_sponsors----------------------------- */
.our_sponsors {
  background-image: url(/images/Our\ Sponsors\ bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.our_sponsors h2.text-center {
  font-size: 55px;
  font-weight: 500;
  color: #fff;
}
.our_sponsors .des_pra {
  background: #fff;
  border-radius: 0px 1px 20px 20px;
}
.position-relative.sponser_slider {
  background: #fff !important;
  border-radius: 11px 11px 0px 0px;
}
img.mt-3.logo_company {
  width: 60%;
  height: 50px;
  object-fit: contain;
}

/* ---------------------istocosa_gallery---------------------------- */
.istocosa_gallery h2.text-center {
  font-size: 55px;
  font-weight: 500;
}
.swiper-slide.gallery_slider {
  box-shadow: none;
  border: 1px solid #000;
  padding: 10px;
}
.gallery_slider i.fa.fa-calendar {
  color: #6f0100;
}
.gallery_slider p.gallery_info {
  color: #000;
  font-weight: 500;
}
.istocosa_gallery_slider {
  position: relative;
}

.istocosa_gallery_slider img {
  display: block;
}

.istocosa_gallery_slider .hover-icon {
  display: none; /* Hide the icon initially */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem; /* Adjust icon size if needed */
  color: #fff; /* Icon color */
}

.istocosa_gallery_slider:hover .hover-icon {
  display: block; /* Show the icon on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ------------------------------alumni------------------------ */
.alumni h2.text-center {
  font-size: 55px;
  font-weight: 500;
}

/* ---------------------------lifemembers-------------------------------- */
.lifemember1 {
  background-image: url(/images/join\ istcosa\ for\ a\ lifetime\ bg.png);
}
.alumni_slider {
  flex-shrink: 0;
  width: 306px !important;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
.lifemember2 h2.text-center {
  font-size: 45px;
  font-weight: 500;
}
span.member_id {
  color: #6f0100;
}

/* -------------------footer----------------- */
.footer {
  background-color: #323232;
}
.footer_one h4 {
  font-size: 14px;
  color: #fff;
}

.footer_one span {
  font-size: 11px;
  color: #fff;
}

.footer_one i {
  color: #fff;
}
.row.one_row {
  background: #292929;
}
.footer-main {
  padding-top: 90px;
}

.address-box {
  padding: 3px 0;
  margin-bottom: 30px;
}

.add-icon {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}

.address-box .add-icon {
  height: 75px;
  line-height: 75px;
  width: 75px;
  margin-right: 5px;
  text-align: center;
}

.add-icon img {
  width: 100%;
}

.address-box .add-icon img {
  max-width: 40px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: #ffb32d;
}

.footer-main {
  padding-top: 90px;
}

.address-box {
  padding: 3px 0;
  margin-bottom: 8px;
  background-color: #292929 !important;
  border-right: 5px solid #6f0100;
}

.add-icon {
  float: left;
  width: 60px;
  display: inline-block;
  padding: 0px 5px;
}

.address-box .add-icon {
  height: 75px;
  line-height: 89px;
  width: 113px;
  margin-right: 5px;
  text-align: center;
}

.add-icon img {
  width: 91%;
}

.address-box .add-icon img {
  max-width: 88%;
  margin-left: -32px;
}

.add-content {
  padding-left: 70px;
}

.add-content h5 {
  font-size: 17px;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  margin-bottom: 10px;
}

.add-content p {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
}

.add-content p a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  word-wrap: break-word;
}

.add-content p a:hover {
  color: #ffb32d;
}
.social_media_linls {
  display: flex;
  gap: 12px;
  margin-top: 33px;
}

.social_media_linls i {
  color: #000;
  background: #fff;
  padding: 10px;
  font-size: 23px;
  border-radius: 50px;
}

.footer_menu_strp span {
  color: #fff;
}

.footer_menu_strp a {
  color: #fff;
  text-decoration: none;
}

.footer_menu_strp p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_menu_strp i.fa.fa-angle-double-right {
  color: #6f0100;
}

.footer_menu_strp a:hover {
  color: #6f0100;
}

.footer_menu_strp h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 22px;
}

/* ------------------------------about us---------------------- */
.about-banner {
  background-image: url(/images/banner\ bg.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.breadcrumb li.breadcrumb-item {
  color: #fff;
}

.breadcrumb a {
  color: #fff;
}
.association_one {
  display: flex;
  gap: 15px;
}
.association {
  background: #edf2f2;
}

.association_one i.fa-solid.fa-location-arrow {
  color: #6f0100;
}
/* ---------------------------------regulations---------------------- */
.regulations {
  background: #edf2f2;
}

/* ------------------------historycss---------------------- */
.history-banner {
  background-image: url(/images/history_banner.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
}
.history_background {
  background-image: url(/images/history1.jpg);
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.second_histoty_banner p {
  max-width: 65%;
}
.second_histoty_banner .content_pra {
  position: absolute;
  top: 8em;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.history-three-colum {
  border-radius: 0px 0px 0px 39px;
}
.history-three-colum h3 {
  font-size: 18px;
  font-weight: 500;
}

.history-three-colum p {
  font-size: 12px;
}

.history-three-colum a.btn_members {
  background: #6f0100;
  color: #fff;
  text-decoration: none;
  padding: 14px 10px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

/* ------------------------principals------------------- */
.principals-banner {
  background-image: url(/images/banner_principals.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}

.alumin_info p.card-text {
  color: #6f0100;
  font-size: 16px;
  font-weight: 300;
}

.alumin_info h5.card-title {
  font-size: 17px;
  color: #000;
  font-weight: 500;
  font-family: poppins;
}
.alumin_name_cards img {
  width: 100%;
  height: 20em;
}

.principals_contribute {
  border-radius: 0px 0px 0px 39px;
}
.principals_contribute h3 {
  font-size: 18px;
  font-weight: 500;
}

.principals_contribute p {
  font-size: 12px;
}

.principals_contribute a.btn_members {
  background: #6f0100;
  color: #fff;
  text-decoration: none;
  padding: 14px 10px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

/* ------------------------Presidents-------------------- */

.presidents-banner {
  background-image: url(/images/president/president_banner.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.card.alumin_name_cards {
  /* height: 36vh; */
  max-height: 100%;
}
.card.alumin_name_cards h3 {
  font-size: 18px;
  font-weight: 500;
}
/* -------------------------Patrons-banner------------------ */
.Patrons-banner {
  background-image: url(/images/patrons/banner.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}

.commitee-banner {
  background-image: url(/images/Committee-Members/banner.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.committee .committee_sub:first-child {
  background: #fce3e2;
  display: flex;
  justify-content: center;
}
.committee .committee_sub p:first-child {
  color: #6f0100;
  font-size: 17px;
  font-weight: 400;
}
.committee .committee_sub p:nth-child(3) {
  color: #6f0100;
  font-size: 17px;
  font-weight: 400;
}
.committee .committee_sub p:nth-child(2) {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}

/* ----------------------coordinators-------------- */
.coordinators-banner {
  background-image: url(/images/coordinators/BANNER\ 2.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.chief_coordinator_bg {
  background-image: url(/images/coordinators/bg\ 1.jpg);
  width: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.chief_coordinator_bg .col-xl-4.col-lg-4:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chief_coordinator_bg button.btn.chief_coordinator_btn {
  background: #6f0100;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 300;
}
.chief_coordinator_info_second p {
  color: #6f0100;
}
.coordinators_name p {
  background: #fce3e2;
  margin: 0px;
  padding: 10px 10px;
  font-size: 14px;
}

.coordinators-card_sub p {
  color: #6f0100;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}
.coordinators_cards img.card-img-top {
  height: 300px;
  object-fit: fill;
}
.chief_coordinator_info img.text-end.arrow_img {
  margin-right: -45px;
}
.regional_oordinators p:nth-child(2) {
  color: #6f0100;
}
img.flag_img {
  width: 60% !important;
  max-width: 100%;
}

/* ---------------------------------lifeMembers-------------------------- */
.lifeMembers-banner {
  background-image: url(/images/lifeMembers/banner\ \ 2.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.lifeMembers_info p:nth-child(2) {
  color: #6f0100;
}
.lifeMembers_cards img {
   width: 100%;
  height: 17em;
}

/* -----------------Mentor Members---------------- */
.mentorMembers-banner {
  background-image: url(/images/mentorMembers/banner\ \ 1.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.mentorMembers_info p:nth-child(2) {
  color: #6f0100;
}
.mentorMembers_cards img {
  max-height: 300px;
}

/* -----------------------------------Upcoming----------------------- */
.event-banner {
  background-image: url(/images/lifeMembers/banner\ \ 2.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.upcoming_event_sub .fill {
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  font-size: 120px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px #6f0100;
  position: relative;
  cursor: pointer;
  justify-content: center;
}
.fill::before {
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0px;
  -webkit-text-fill-color: #6f0100;
  width: 0px;
  overflow: hidden;
  transition: 0.5s;
}
.fill:hover::before {
  width: 100%;
}
.upcoming_event_sub p {
  font-size: 80px;
}
.col-xl-12.col-lg-12.col-sm-12.col-md-12.upcoming_event_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 38px;
}

.first_col {
  background: #6f0100;
  color: #fff;
  text-transform: uppercase;
  padding: 0px;
}

.block-border {
  position: relative;
  /* max-width: 400px; */
  /* float: left; */
}

.bg-block {
  position: absolute;
  height: 100%;
  width: 100%;
  right: -21px;
  bottom: -20px;
}

.content-border {
  border: solid 2px #6f0100;
  position: relative;
  margin-top: -6px;
  padding-top: 17px !important;
  left: 5px;
  padding: 15px;
}

.qr_scan_content-border {
  border: solid 2px #6f0100;
  position: relative;
  margin-top: 25px;
  left: 5px;
  padding: 0px;
}
.qr_scan_content-border p {
  font-size: 15px;
}

.qr_scan_content-border h2 {
  font-size: 32px;
}

.qr_scan_content-border .col-6.first_col {
    padding: 15px;
}
.qr_scan_content-border img {
    width: 70%;
}

.col-12.second_col p {
    font-size: 22px;
    font-family: sans-serif;
}
.second_col h1 {
    font-weight: 600;
}
.vanue_date {
  background-image: url(/images/events/bg\ 2.jpg);

}
.vanue_date i.fa.fa {
    font-size: 50px;
}
.vanue_date h3 {
    font-size: 30px;
    text-transform: uppercase;
    padding-top: 18px;
}
.vanue_events_loc{
    background: #6f0100;
    padding: 10px;
    font-size: 19px;
    font-weight: 200;
}
.post_events img.w-100.img-fluid {
    height: 295px;
    max-height: 295px;
}
  .post_events .icon-overlay a {
    position: absolute;
    bottom: 69px;
    right: 0px;
    font-size: 24px;
    color: #ffffff; /* Adjust the color as needed */
    background: #6f0100;
    padding: 8px 20px;
    rotate: -30de;
}
.post_events i.fas.fa-arrow-right {
    rotate: -30deg;
}

.past_event_contribute {
  border-radius: 0px 0px 0px 39px;
}
.past_event_contribute h3 {
  font-size: 18px;
  font-weight: 500;
}

.past_event_contribute p {
  font-size: 12px;
}

.past_event_contribute a.btn_members {
  background: #6f0100;
  color: #fff;
  text-decoration: none;
  padding: 14px 10px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

/* ------------------------images---------------------- */
.post_events_image img.w-100.img-fluid {
    height: 295px;
    max-height: 295px;
}
  .post_events_image .icon-overlay a {
    position: absolute;
    top: 10.1em;
    right: 0px;
    font-size: 24px;
    color: #ffffff; /* Adjust the color as needed */
    background: #6f0100;
    padding: 8px 20px;
    rotate: -30de;
}
.post_events_image i.fas.fa-arrow-right {
    rotate: -30deg;
}
.past_event-banner {
  background-image: url(/images/events/image\ banner.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.post_events_image i.fa.fa-map-marker, i.fa.fa-calendar {
    color: #6f0100;
}
.image_gallery_contribute {
  border-radius: 0px 0px 0px 39px;
}
.image_gallery_contribute h3 {
  font-size: 18px;
  font-weight: 500;
}

.image_gallery_contribute p {
  font-size: 12px;
}

.image_gallery_contribute a.btn_members {
  background: #6f0100;
  color: #fff;
  text-decoration: none;
  padding: 14px 10px;
  border: 1px solid;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 200;
  text-transform: uppercase;
}

/* --------------------------video------------------------ */
.video-banner {
  background-image: url(/images/events/banner\ image1.jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.video_image img.w-100.img-fluid {
    height: 295px;
    max-height: 295px;
}
  .video_image .icon-overlay a {
    position: absolute;
    top: 10.1em;
    right: 0px;
    font-size: 24px;
    color: #ffffff; /* Adjust the color as needed */
    background: #6f0100;
    padding: 8px 20px;
    rotate: -30de;
}
.video_image i.fas.fa-arrow-right {
    rotate: -30deg;
}
.video_gallery_batch{
  border-radius: 0px 100px;
}
.video_image span {
    color: #6f0100;
    font-size: 20px;
}
/* -------------------------------career-banner-------------------------- */
.career-banner{
   background-image: url(/images/opportunity/banner\ image\ \(1\).jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
.apply_btn {
    background: #6f0100;
    border: none;
    padding: 15px;
}

.apply_btn:hover {
    background:transparent;
    border: 1px solid #6f0100;
    color: #6f0100;
     padding: 15px;
}


/* ---------------------lifemember-banner---------------------- */
.lifemember-banner{
 background-image: url(/images/lifeMembers/banner\ image\ \(2\).jpg);
  height: 300px;
  width: 100%;
  max-width: 100%;
  padding: 32px 10px;
  margin-top: 70px;
}
  .dots::before {
            content: "";
            width: 25px;
            height: 25px;
            background: #ffffff;
            display: block;
            top: 9.4em;
            position: absolute;
            left: 10.3em;
            z-index: 2 !important;
            border-radius: 100px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .pricing-table .ptable-single {
            position: relative;
            width: 100%;
            overflow: hidden;
        }

        .ptable-item {
            height: 100% !important;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }

        .pricing-table .ptable-header,
        .pricing-table .ptable-body,
        .pricing-table .ptable-footer {
            position: relative;
            width: 100%;
            text-align: center;
            overflow: hidden;
        }

        .pricing-table .ptable-title,
        .pricing-table .ptable-price,
        .pricing-table .ptable-description,
        .pricing-table .ptable-action {
            position: relative;
            width: 100%;
            text-align: center;
        }

        .pricing-table .ptable-single {
            background: #fff;
        }

        .pricing-table .ptable-header {
            margin: 0 1px;
            padding: 45px 0 65px 0;
            width: auto;
            background: #6f0100;
        }

        .pricing-table .ptable-header::before,
        .pricing-table .ptable-header::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            height: 0;
            border-bottom: 100px solid #fff;
        }

        .pricing-table .ptable-header::before {
            right: 65%;
            border-right: 28em solid transparent;
        }

        .pricing-table .ptable-header::after {
            left: 32%;
            border-left: 51em solid transparent;
        }

        .pricing-table .ptable-item.featured-item .ptable-header {
            background: #6f0100;
        }

        .pricing-table .ptable-title h2 {
            color: #ffffff;
            font-size: 30px;
            font-weight: 300;
            letter-spacing: 2px;
        }

        .pricing-table .ptable-body {
            padding: 20px 0;
        }

        .pricing-table .ptable-description ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .pricing-table .ptable-description ul li {
            color: #2A293E;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 1px;
            padding: 7px;
            border-bottom: 1px solid #dedede;
        }

        .pricing-table .ptable-description ul li:last-child {
            border: none;
        }

        .pricing-table .ptable-footer {
            padding-bottom: 30px;
        }

        .pricing-table .ptable-action a {
            display: inline-block;
            padding: 13px 41px;
            color: #ffffff;
            font-size: 17px;
            font-weight: 300;
            letter-spacing: 2px;
            text-decoration: none;
            background: #6f0100;
            border-radius: 44px;
            cursor: pointer;
        }